@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

html {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
  text-align: center;
}
* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.page-title {
  text-align: center;
  margin: 1em;
  font-size: 1.2em;
}
:root {
  --black: #212121;
  --white:#EEEEEE;
}
.App {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:var(--white)
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .page-title {
    font-size:2em;
  }
}
